<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConexaoPadrao" connectionString="Server=(local); Database=RepositorioGenerico; integrated security=false; user id=sa; pwd=123456; min pool size=10; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>