################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RepositorioGenerico/bin/Debug
/RepositorioGenerico/obj/Debug
/RepositorioGenerico.Entities/bin
/RepositorioGenerico.Entities/obj
/RepositorioGenerico.Entities.Test/bin/Debug
/RepositorioGenerico.Entities.Test/obj/Debug
/RepositorioGenerico.Fake/bin
/RepositorioGenerico.Fake/obj
/RepositorioGenerico.Fake.Test/bin
/RepositorioGenerico.Fake.Test/obj
/RepositorioGenerico.SqlClient/bin
/RepositorioGenerico.SqlClient/obj
/RepositorioGenerico.SqlClient.Test/bin/Debug
/RepositorioGenerico.SqlClient.Test/obj/Debug
/RepositorioGenerico.Test/bin
/RepositorioGenerico.Test/obj
/RepositorioGenerico.Pattern/bin/Debug
/RepositorioGenerico.Pattern/obj/Debug
/RepositorioGenerico/bin/Release
/RepositorioGenerico/obj/Release
/RepositorioGenerico.Entities.Test/bin/Release
/RepositorioGenerico.Entities.Test/obj/Release
/RepositorioGenerico.Pattern/bin/Release
/RepositorioGenerico.Pattern/obj/Release
/RepositorioGenerico.SqlClient.Test/bin/Release
/RepositorioGenerico.SqlClient.Test/obj/Release
