################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Source/RepositorioGenerico/bin
/Source/RepositorioGenerico/obj
/Source/RepositorioGenerico.Entities/bin
/Source/RepositorioGenerico.Entities/obj
/Source/RepositorioGenerico.Fake/bin
/Source/RepositorioGenerico.Fake/obj
/Source/RepositorioGenerico.Pattern/bin
/Source/RepositorioGenerico.Pattern/obj
/Source/RepositorioGenerico.SqlClient/bin
/Source/RepositorioGenerico.SqlClient/obj
/Source/RepositorioGenerico.SqlClient.Autofac/bin/Release
/Source/RepositorioGenerico.SqlClient.Autofac/obj/Release
/Source/Tests/RepositorioGenerico.Entities.Test/bin
/Source/Tests/RepositorioGenerico.Entities.Test/obj
/Source/Tests/RepositorioGenerico.Fake.Test/bin
/Source/Tests/RepositorioGenerico.Fake.Test/obj
/Source/Tests/RepositorioGenerico.SqlClient.Test/bin
/Source/Tests/RepositorioGenerico.SqlClient.Test/obj
/Source/Tests/RepositorioGenerico.Test/bin
/Source/Tests/RepositorioGenerico.Test/obj
/TestResults
/Samples/Business/obj/Release
/Samples/Entities/obj/Release
/Samples/Business/bin/Release
/Samples/Business/obj/Debug
/Samples/Entities/obj/Debug
/Source/RepositorioGenerico.SqlClient.Autofac/obj/Debug
/Samples/Business/bin/Debug
/Samples/Entities/bin/Debug
/Samples/Business.Test/obj/Debug
/Samples/Business.Test/bin/Debug
/Source/RepositorioGenerico.SqlClient.Autofac/bin/Debug
/Tools/ConverterBancoParaEntidades/bin/Debug
/Tools/ConverterBancoParaEntidades/obj/Debug
/Samples/Business.Mvc/bin
/Samples/Business.Mvc/obj/Debug
/Samples/Business.Mvc/obj/Release
/Samples/Business.Test/obj/Release
/Tools/ConverterBancoParaEntidades/obj/Release
/Samples/Business.Test/bin/Release
/Samples/Entities/bin/Release
/Tools/ConverterBancoParaEntidades/bin/Release
/Tools/ConverterBancoParaEntidades/bin
/Source/Tests/RepositorioGenerico.IntegrationTest/bin/Debug
/Source/Tests/RepositorioGenerico.IntegrationTest/obj/Debug
/Source/Tests/RepositorioGenerico.IntegrationTest/bin/Release
/Source/Tests/RepositorioGenerico.IntegrationTest/obj/Release
/.vs