<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConverterBancoParaEntidades.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ConverterBancoParaEntidades.Properties.Settings>
            <setting name="Conexao" serializeAs="String">
                <value>Server=(local); Database=RepositorioGenerico; integrated security=false; user id=sa; pwd=123456; min pool size=10; MultipleActiveResultSets=True;</value>
            </setting>
            <setting name="ScriptConsultaTabelas" serializeAs="String">
                <value>select name
from sysobjects
where xtype = 'U'</value>
            </setting>
            <setting name="Usings" serializeAs="String">
                <value>RepositorioGenerico.Entities
RepositorioGenerico.Entities.Anotacoes
System
System.Collections.Generic</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>Entidade</value>
            </setting>
            <setting name="PastaDestino" serializeAs="String">
                <value />
            </setting>
        </ConverterBancoParaEntidades.Properties.Settings>
    </userSettings>
</configuration>